
<header class="border-b md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4 bg-white dark:bg-gray-800">

    <div class="flex items-center justify-between mb-4 md:mb-0 text-gray-900 dark:text-white">
        <div class="custom-avatar mr-4" (click)="openCloseProfile()">
            <img src="./../../../assets/aw.jpg" />
        </div>
        <h1 class="leading-none text-2xl text-grey-darkest">
            <a class="no-underline text-grey-darkest" href="/">
                ZEISS Machine Stream
            </a>
        </h1>

        <a class="text-black hover:text-orange md:hidden" href="#">
            <i class="fa fa-2x fa-bars"></i>
        </a>
    </div>

    <nav class="text-gray-900 dark:text-white">
        <ul class="list-reset md:flex md:items-center">
            <li class="md:ml-4">
                <button class="bg-transparent hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/machines" routerLinkActive="bg-blue-500">
                    Machines
                </button>
            </li>
            <li class="md:ml-4">
                <button class="bg-transparent hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/readme" routerLinkActive="bg-blue-500">
                    Readme
                </button>
            </li>
        </ul>
    </nav>

</header>

