
<div id="machinesWrapper">

    <div class="container mx-auto">

        <div id="head" class="sticky-top bg-white dark:bg-gray-800 pt-10 z-10">

            <div id="head_filter">

                <div class="p-5" style="position: relative;">

                    <div class="" style="display: flex; flex-wrap: nowrap; gap: 1rem;">
                        <div>Show machine type: {{ showMachineType }}</div>
                        <div (click)="openDropdown = !openDropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                        </div>
                    </div>
                    <div class="dropdown-container" [class.show]="openDropdown">
                        <div    *ngFor="let option of machineTypeOptions"
                                class="dropdown-item my-1 p-2"
                                (click)="showMachineType = option; openDropdown = false;"
                        >{{ option.toUpperCase() }}</div>
                    </div>

                </div>

            </div>
            <div id="head_table-header">
                <div class="col col_id">ID</div>
                <div class="col col_machine_type">Machine type</div>
                <div class="col col_floor">Floor</div>
                <div class="col col_status">Status</div>
                <div class="col col_open-close">&nbsp;</div>
            </div>
        </div>

        <div class="mb-10 z-0 text-gray-900 dark:text-gray-300" style="">

            <div *ngFor="let machine of machines | filterMachines:showMachineType" class="">
                <div class="machine-item {{ machine.status }}" style="">
                    <div class="col col_id item-id">{{ machine.id.split('-')[0] }}</div>
                    <div class="col col_machine_type">
                        <div class="item-machine_type">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path *ngIf="machine.machine_type == 'microscope'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                                    <path *ngIf="machine.machine_type == 'measurement'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.871 4A17.926 17.926 0 003 12c0 2.874.673 5.59 1.871 8m14.13 0a17.926 17.926 0 001.87-8c0-2.874-.673-5.59-1.87-8M9 9h1.246a1 1 0 01.961.725l1.586 5.55a1 1 0 00.961.725H15m1-7h-.08a2 2 0 00-1.519.698L9.6 15.302A2 2 0 018.08 16H8" />
                                </svg>
                                {{ machine.machine_type }}
                            </span>
                        </div>
                    </div>

                    <div class="col col_floor item-floor">
                        {{ machine.floor }}
                    </div>

                    <div class="col col_status">
                        <div class="status-item status-item_{{ machine.status }}">{{ machine.status }}</div>
                    </div>

                    <div class="col col_open-close" (click)="openCloseItem( machine.id )">
                        <div class="item-open_close">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="machine-details" [class.open]="openedMachines[machine.id]" style="">
                    <div class="" style="height: 200px;">
                        <app-machine-details
                            *ngIf="openedMachines[machine.id]?.data; else nodata"
                            [data]="openedMachines[machine.id].data"
                            >
                        </app-machine-details>
                        <ng-template #nodata>
                            <div class="loading-details-msg">loading data..</div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
